**/Debug/
**/DebugPP/
**/Debug_Clion/
**/Release/
**/ReleasePP/
**/Release_CLion/
**/build/
**/ca/
**/key/
**/SambaConfig.json
**/*_bak.*
**/*_bak/
**/Required_Build.txt
**/Makefile
**/*.user
**/*.0
**/*.o
**/*.lo
**/*.so
**/*.out
**/*.a
tags
